<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{static/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{static/style/login.css}" media="all">
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>教学业绩点统计工作</h2>
            <p>后台管理系统</p>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                       for="LAY-user-login-username"></label>
                <input type="text" name="account" id="LAY-user-login-username" lay-verify="required" placeholder="用户名"
                       class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="LAY-user-login-password"></label>
                <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                       placeholder="密码" class="layui-input">
            </div>
            <!--<div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                               for="validate"></label>
                        <input type="text" id="validate" name="validate" lay-verify="required"
                               placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img src="/code/getCode" id="code" class="layadmin-user-login-codeimg">
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="login">登录</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:src="@{/static/layui/master.js}"></script>
<script>
    layui.config({
        base: '/static/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'user'], function () {
        var $ = layui.$;
        var form = layui.form;
        form.render();

        $("#code").click(function () {
            refresh();
        })

        function refresh() {
            $("#code").attr("src", "/code/getCode?ran=" + Math.random());
        }


        //提交
        form.on('submit(login)', function (obj) {
            $.ajax({
                type: "POST",
                url: "/manager/login",
                data: obj.field,
                success: function (res) {
                    if (res.errorCode != "0000") {
                        layer.msg(res.errorMsg, {
                            offset: '15px',
                            icon: 2,
                            time: 1000
                        });
                        $("#validate").val("");
                        refresh();
                        return;
                    }
                    var storage = window.localStorage;
                    storage.clear();
                    storage.setItem("manager", JSON.stringify(res.data.manager));
                    storage.setItem("parentMenuList", JSON.stringify(res.data.parentMenuList));
                    storage.setItem("menuList", JSON.stringify(res.data.menuList));
                    location.href = '/modelView/home/frame';
                }
            })

        });
    });
</script>
</body>
</html>