<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teach.mall.mapper.ForeignPractiseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.teach.pojo.mall.entity.ForeignPractise">
        <id column="id" property="id" />
        <result column="job_no" property="jobNo" />
        <result column="teacher_name" property="teacherName" />
        <result column="position" property="position" />
        <result column="education" property="education" />
        <result column="unit" property="unit" />
        <result column="course" property="course" />
        <result column="class_name" property="className" />
        <result column="student_amount" property="studentAmount" />
        <result column="place" property="place" />
        <result column="teach_type" property="teachType" />
        <result column="week_hour" property="weekHour" />
        <result column="weeks" property="weeks" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="class_hour" property="classHour" />
        <result column="inspect_type" property="inspectType" />
        <result column="result_type" property="resultType" />
        <result column="price" property="price" />
        <result column="total_price" property="totalPrice" />
        <result column="remark" property="remark" />
        <result column="teacher_id" property="teacherId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="commit_time" property="commitTime" />
        <result column="audit_time" property="auditTime" />
        <result column="manager_id" property="managerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_no, teacher_name, position, education, unit, course, class_name, student_amount, place, teach_type, week_hour, weeks, start_date, end_date, class_hour, inspect_type, result_type, price, total_price, remark, teacher_id, status, create_time, commit_time, audit_time, manager_id
    </sql>
    <select id="pageForForeignPractise" resultType="cn.teach.pojo.mall.entity.ForeignPractise">
        select * from foreign_practise
        <where>
            <if test="param != null">
                <if test="param.teacherId != null and param.teacherId!= ''">
                    teacher_id = #{param.teacherId}
                </if>
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
