<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teach.mall.mapper.TeachTeachingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.teach.pojo.mall.entity.TeachTeaching">
        <id column="id" property="id" />
        <result column="job_no" property="jobNo" />
        <result column="teacher_name" property="teacherName" />
        <result column="first_teach_point" property="firstTeachPoint" />
        <result column="first_inspect_point" property="firstInspectPoint" />
        <result column="first_other_point" property="firstOtherPoint" />
        <result column="first_total_point" property="firstTotalPoint" />
        <result column="second_teach_point" property="secondTeachPoint" />
        <result column="second_inspect_point" property="secondInspectPoint" />
        <result column="second_other_point" property="secondOtherPoint" />
        <result column="secong_total_point" property="secongTotalPoint" />
        <result column="teacher_id" property="teacherId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="commit_time" property="commitTime" />
        <result column="audit_time" property="auditTime" />
        <result column="manager_id" property="managerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_no, teacher_name, first_teach_point, first_inspect_point, first_other_point, first_total_point, second_teach_point, second_inspect_point, second_other_point, secong_total_point, teacher_id, status, create_time, commit_time, audit_time, manager_id
    </sql>
    <select id="pageForTeachTeaching" resultType="cn.teach.pojo.mall.entity.TeachTeaching">
        select * from teach_teaching
        <where>
            <if test="param != null">
                <if test="param.teacherId != null and param.teacherId!= ''">
                    teacher_id = #{param.teacherId}
                </if>
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
