<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>教学业绩点统计工作后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/style/admin.css}" media="all">
</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect style="margin-right: 20px">
                    <a href="javascript:;">
                        <cite id="managerName"></cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a id="modify">修改密码</a></dd>
                        <dd><a id="logout">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll" id="menuDiv">
                <!--<div class="layui-logo" lay-href="frontpage.html">
                </div>-->
            </div>
        </div>
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="refresh"><a href="javascript:;">刷新当前标签页</a></dd>
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="frontpage.html" lay-attr="" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="/modelView/home/frontpage" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script type="text/javascript">
    layui.config({
        base: '/static/'
    }).extend({
        index: 'lib/index'
    }).use('index', function () {
        var $ = layui.$;
        var storage = window.localStorage;
        var parentMenuList = JSON.parse(storage.getItem("parentMenuList"));
        var menuList = JSON.parse(storage.getItem("menuList"));
        var manager = JSON.parse(storage.getItem("manager"));
        if (manager === null) {
            var storage = window.localStorage;
            storage.clear();
            location.href = '/';
        }
        $("#managerName").html(manager.account);

        var s = "<ul id='LAY-system-side-menu' class='layui-nav layui-nav-tree' lay-shrink='all' lay-filter='layadmin-system-side-menu'>";
        for (var i = 0; i < parentMenuList.length; i++) {
            if (parentMenuList[i].parentId == 0) {
                var menuListHtml = "<li class='layui-nav-item'>";
                menuListHtml += "<a href='javascript:;' lay-tips='";
                menuListHtml += parentMenuList[i].name;
                menuListHtml += "' lay-direction='2'>";
                menuListHtml += "<i class='layui-icon ";
                menuListHtml += parentMenuList[i].icon;
                menuListHtml += "'></i><cite>";
                menuListHtml += parentMenuList[i].name;
                menuListHtml += "</cite></a><dl class='layui-nav-child'>";
                menuListHtml = recycle(menuListHtml, parentMenuList[i].id, menuList);
                menuListHtml += "</dl></li>";
                s += menuListHtml;
            }
        }
        s += "</ul>";
        $("#menuDiv").append(s);
        layui.use(['element', 'layer'], function () {
            var element = layui.element;
            var layer = layui.layer;
            element.init();
        });
        $("#logout").click(function () {
            var storage = window.localStorage;
            storage.clear();
            location.href = '/';
        })
        $("#modify").click(function () {
            layer.open({
                title: '修改密码',
                type: 2,
                maxmin: true,
                area: ['30%', '40%'],
                content: '/modelView/home/update'
            });
        })

        function recycle(html, parentId, menuList) {
            for (var k = 0; k < menuList.length; k++) {
                if (menuList[k].parentId == parentId) {
                    if (menuList[k].isLeaf == 1) {
                        html += "<dd id='\" + menuList[k].id + \"'><a lay-href='";
                        html += menuList[k].url;
                        html += "'>";
                        html += menuList[k].name;
                        html += "</a></dd>";
                    } else {
                        //html +="<ul class='layui-nav layui-nav-tree' lay-shrink='all' lay-filter='layadmin-system-side-menu'>"
                        html += "<li class='layui-nav-item'>";
                        html += "<a href='javascript:;' lay-tips='";
                        html += menuList[k].name;
                        html += "' lay-direction='2'>";
                        html += "<i class='layui-icon ";
                        html += menuList[k].icon;
                        html += "'></i><cite>";
                        html += menuList[k].name;
                        html += "</cite></a><dl class='layui-nav-child'>";
                        html = recycle(html, menuList[k].id, menuList);
                        html += "</dl></li>";
                        //html += "</ul>";

                    }
                }
            }
            return html;
        }
    });
</script>
</body>
</html>


