@charset "utf-8";
/*
 * time：2019-02-26
 * function：stylesheet
 * actor：shang
*/
.fl{float:left;}
.fr{float:right;}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.dis-b{display: block;}
.dis-i{display: inline;}
.dis-ib{display: inline-block;}
.dis-n{display: none;}
.po-rela{position: relative;}
.cur-p{cursor: pointer;}
/*字体样式*/
.text-c{text-align:center!important;}
.text-l{text-align: left;}
.text-r{text-align: right;}
.text-j{
	text-align: justify;
	text-align-last: justify;
}
.fontw{font-weight: bold;}
.over-h{
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden; 
}
.over-hidd1{
	white-space:nowrap; 
	overflow: hidden; 
}
/*字体大小*/
.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font17{font-size: 17px;}
.font18{font-size: 18px;}
.font19{font-size: 19px;}
.font20{font-size: 20px;}
.font22{font-size:22px;}
.font24{font-size:24px;}
.font25{font-size:25px;}
.font26{font-size:26px;}
.font28{font-size:28px;}
.font30{font-size:30px;}
.font32{font-size:32px;}
/*字体颜色样式*/
.c33{color:#333333;}
.c66{color:#666666;}
.c99{color:#999999;}
.ccc{color:#cccccc;}
.cff{color:#ffffff;}
.c90{color: #909090;}
.cde{color: #de6165;}
.czhu{color:#009688;}
/*背景颜色*/
.bac-fff{background-color: #fff;}
/*边框*/
.bor-zhu{border: 1px solid #009688;}
/*外边距样式*/
/*外上边距样式*/
.mt-5{margin-top:5px;}
.mt-10{margin-top:10px;}
.mt-12{margin-top: 12px;}
.mt-13{margin-top: 13px;}
.mt-15{margin-top:15px;}
.mt-16{margin-top:16px;}
.mt-20{margin-top:20px;}
.mt-23{margin-top: 23px;}
.mt-25{margin-top:25px;}
.mt-28{margin-top:28px;}
.mt-30{margin-top:30px;}
.mt-32{margin-top:32px;}
.mt-33{margin-top:33px;}
.mt-35{margin-top:35px;}
.mt-40{margin-top:40px;}
.mt-45{margin-top:45px;}
.mt-50{margin-top:50px;}
.mt-60{margin-top:60px;}
.mt-80{margin-top: 80px;}
/*下边距样式*/
.mb-5{margin-bottom:5px;}
.mb-8{margin-bottom:8px;}
.mb-10{margin-bottom:10px;}
.mb-15{margin-bottom:15px;}
.mb-18{margin-bottom:18px;}
.mb-20{margin-bottom:20px;}
.mb-25{margin-bottom:25px;}
.mb-30{margin-bottom:30px;}
.mb-40{margin-bottom:40px;}
.mb-45{margin-bottom:45px;}
.mb-50{margin-bottom:50px;}
.mb-60{margin-bottom:60px;}
/*左边距样式*/
.ml-5{margin-left:5px;}
.ml-8{margin-left:8px;}
.ml-10{margin-left:10px;}
.ml-12{margin-left: 12px;}
.ml-14{margin-left:14px;}
.ml-15{margin-left:15px;}
.ml-18{margin-left:18px;}
.ml-20{margin-left:20px;}
.ml-23{margin-left: 23px;}
.ml-25{margin-left:25px;}
.ml-28{margin-left: 28px;}
.ml-30{margin-left:30px;}
.ml-32{margin-left: 32px;}
.ml-33{margin-left: 33px;}
.ml-34{margin-left:34px;}
.ml-40{margin-left:40px;}
.ml-50{margin-left:50px;}
.ml-60{margin-left:60px;}
.ml-65{margin-left:65px;}
.ml-70{margin-left:70px;}
.ml-80{margin-left: 80px;}
.ml-82{margin-left: 82px;}
/*右边距样式*/
.mr-5{margin-right:5px;}
.mr-8{margin-right:8px;}
.mr-10{margin-right:10px;}
.mr-13{margin-right:13px;}
.mr-14{margin-right:14px;}
.mr-15{margin-right:15px;}
.mr-18{margin-right:18px;}
.mr-20{margin-right:20px;}
.mr-25{margin-right:25px;}
.mr-30{margin-right:30px;}
.mr-40{margin-right:40px;}
.mr-50{margin-right:50px;}
.mr-60{margin-right: 60px;}
/*内边距的值*/
/*上内边距*/
.pt-6{padding-top:6px;}
.pt-7{padding-top:7px;}
.pt-10{padding-top: 10px;}
.pt-12{padding-top: 12px;}
.pt-20{padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pt-40{padding-top: 40px;}
.pt-50{padding-top: 50px;}
.pt-60{padding-top: 60px;}
/*右内边距*/
.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-20{padding-right: 20px;}
.pr-15{padding-right: 15px;}
.pr-30{padding-right: 30px;}
.pr-60{padding-right: 60px;}
/*下内边距*/
.pb-5{padding-bottom: 5px;}
.pb-10{padding-bottom: 10px;}
.pb-15{padding-bottom: 15px;}
.pb-20{padding-bottom: 20px;}
.pb-60{padding-bottom: 60px;}
/*左内边距*/
.pl-5{padding-left: 5px;}
.pl-7{padding-left: 7px;}
.pl-10{padding-left: 10px;}
.pl-15{padding-left: 15px;}
.pl-20{padding-left: 20px;}
.pl-23{padding-left: 23px;}
.pl-30{padding-left: 30px;}
.pl-35{padding-left: 35px;}
.pl-40{padding-left: 40px;}
.pl-50{padding-left: 50px;}
.pl-60{padding-left: 60px;}
.p-10{padding:10px;}
.p-20{padding:20px;}
.bor-t-e5{border-top: 1px solid #e5e5e5;}
.bor-b-e5{border-bottom: 1px solid #e5e5e5;}

.toux{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 10px;
}
.imgt{
	width: 140px;
	height: 160px;
}
.imgtx{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.imgts{
	width: 210px;
	height: 130px;
}
.indent{
	width: 80px;
	height: 60px;
}
.xinx{
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
}
.active{
	background-color: #009688;
	color: #fff;
}
.biank{
	border: 1px solid #e5e5e5;
}
.oprate{
	position: absolute;
	top: 27px;
	right: 10px;
	z-index: 99999;
	padding: 0 10px;
	width: auto;
	height: auto;
	background-color: #009688;
	color: #fff;
	line-height: 30px;
}
.oprate ul li a:hover{color: #fff;}
.dingw {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
}